<body>
  <div>
    <div id="GreyBox" class="left-column">

      <div>Rainforest</div>
      <div class="right" id="Intro"><button class="Def">Intro</button></div>
      <div class="right" id="Products"><button class="Def">Products</button></div>
      <div class="right" id="AboutMe"><button class="Def">About Me</button></div>
      <div class="right" id="Contact"><button class="Def">Contact</button></div>
    </div>
    <div id="Box2">

    </div>
  </div>
</body>

<a href=""><img src="" alt=""></a>
